html { 
    background-color: black;  
}

#photo{
    /* Personal Photo */
    width: 80px;
    height:80px; 
    background-color:black; 
    background-position: flex;
    padding: 1px;
    border: 3px;
    margin:5px;  
}
.video{
    overflow:hidden;
    padding-bottom:56.25%;
    position:relative;
    height:0;
}
.video iframe{
    left:0;
    top:0;
    height:60%;
    width:80%;
    position:absolute;
}
body {
    /* Background */
    background-image:url(../background.jpg);
    background-position: center;
    background-repeat: repeat-y;
    background-size: cover;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    height:auto;
    width:100%;
}

h3{
    z-index: 2;
    position: relative;
    color: white; 
    text-shadow: 2px 2px black;
    padding: 1px;
    margin:5px;
}
h6, h4, h5{
    color: white;
    background: rgba(204, 204, 204, 0.1); 
    text-shadow: 2px 2px black;
    padding: 10px;
    margin:5px;
    width: fit-content;
} 

.txt{
    position: flex;
    color: white; 
    background: rgba(204, 204, 204, 0.2);
    padding: 20px;
    margin:5px;
    width:fit-content;
}
.txt2{
    position: flex;
    color: white; 
    background: rgba(204, 204, 204, 0.2);
    padding: 5px;
    margin:5px;
    width:50%;
}
.txt3{
    position: flex;
    color: white; 
    background: rgba(204, 204, 204, 0.2);
    padding: 5px;
    margin:5px;
    width:fit-content;
}